defaults {
  shell "sh"
}

project "gpuraid" {
  path "/home/hong/repos/supreme-raid/gpuraid"
  layout "editor"
  restart_on_resurrection true
}

project "graid-mgr" {
  path "/home/hong/repos/supreme-raid/graid-mgr"
  layout "editor"
  restart_on_resurrection true
}

project "config-zjsh" {
  path "/home/hong/.config/zjsh"
  layout "editor"
  restart_on_resurrection true
}

project "config-nvim" {
  path "/home/hong/.config/nvim"
  layout "editor"
  restart_on_resurrection true
}
